.env
*.pyc
__pycache__/
*.sqlite3
media/avatars/
media/*.jpg
media/*.jpeg
media/*.png
staticfiles/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
.idea/
.vscode/
node_modules/
frontend/dist/
backend/staticfiles/
